/* Container */
.container {
    -fx-background-image: url('../images/loginBackground.jpeg'); /* Achtergrondafbeelding */
}

/* Formulier */
.form {
    -fx-padding: 10; /* Binnenste opvulling */
    -fx-background-radius: 10; /* Afronding van de achtergrond */
    -fx-background-color: #16A34A; /* Achtergrondkleur */
}

/* Tekstvelden */
.text-field {
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-border-radius: 5; /* Afronding van de randen */
    -fx-prompt-text-fill: #FFFFFF; /* Tekstkleur van de aanduiding */
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0); /* Schaduweffect */
}

/* Wachtwoordvelden */
.password-field {
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-border-radius: 5; /* Afronding van de randen */
    -fx-prompt-text-fill: #FFFFFF; /* Tekstkleur van de aanduiding */
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0); /* Schaduweffect */
}

/* Knoppen */
.button.login-button, .button.register-button {
    -fx-cursor: hand; /* Cursorstijl */
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0); /* Schaduweffect */
}
