.tableview {
    -fx-background-color: #166534;
}

.navbar {
    -fx-orientation: HORIZONTAL;
    -fx-background-color: #16A34A;
    -fx-hgap: 40;
}

.navitem {
    -fx-background-color: transparent;
}

.active {
    -fx-background-color: #166534;
}


.navitemText {
    -fx-font-size: 20px;
    -fx-fill: white;
}