/* Formulier */
.form {
    -fx-background-color: #166534; /* Achtergrondkleur */
}

/* Update en verwijder scherm */
.update-delete-screen {
    -fx-background-radius: 5; /* Randradius */
    -fx-background-color: #16A34A; /* Achtergrondkleur */
}

/* Label */
.label {
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
}

/* Tekstvelden */
.text-field {
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
    -fx-prompt-text-fill: #FFFFFF; /* Kleur van plaatsaanduidingstekst */
    -fx-border-radius: 5; /* Randradius */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0); /* Schaduweffect */
}

/* Datumvelden */
.date-field {
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
    -fx-border-radius: 5; /* Randradius */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0); /* Schaduweffect */
}

/* Datumkiezer popup */
.date-field .date-picker-popup > .month-year-pane {
    -fx-background-color: #16A34A; /* Achtergrondkleur */
}

/* Knoppen */
.button {
    -fx-cursor: hand; /* Cursorstijl */
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-text-fill: #FFFFFF; /* Tekstkleur */
    -fx-border-radius: 5; /* Randradius */
    -fx-padding: 10px 20px; /* Binnenmarge */
}

/* Navigatiebalk */
.navbar {
    -fx-orientation: HORIZONTAL; /* Oriëntatie */
    -fx-background-color: #16A34A; /* Achtergrondkleur */
    -fx-hgap: 40; /* Horizontale tussenruimte */
}

/* Navigatie-item */
.navitem {
    -fx-cursor: hand; /* Cursorstijl */
    -fx-background-color: transparent; /* Achtergrondkleur */
}

/* Actief navigatie-item */
.active {
    -fx-cursor: hand; /* Cursorstijl */
    -fx-background-color: #166534; /* Achtergrondkleur */
}

/* Tekst van navigatie-item */
.navitemText {
    -fx-font-size: 20px; /* Tekstgrootte */
    -fx-fill: white; /* Tekstkleur */
}

/* Logo */
.logo {
    -fx-background-color: #166534; /* Achtergrondkleur */
}

/* Tekst van logo */
.logo Text{
    -fx-font-size: 20px; /* Tekstgrootte */
    -fx-fill: #ffffff; /* Tekstkleur */
}

/* Header */
.header{
    -fx-background-color: #166534; /* Achtergrondkleur */
}

/* Tekst van header */
.header Text{
    -fx-font-size: 20px; /* Tekstgrootte */
    -fx-fill: #ffffff; /* Tekstkleur */
}
